.tfw_translate_result {
    margin-top: 10px;
    padding: 6px 0 8px;

    user-select: text;
    white-space: pre-wrap;
    word-break: break-all;

    color: var(--message-primary);
    border-top: 1px dashed var(--message-primary);
}

#tfw_input_container .copyable-area {
    display: flex;

    padding: 5px 10px;

    background-color: var(--rich-text-panel-background);

    align-items: center;
    justify-content: space-between;
}

#tfw_input_container .default_translator {
    width: 84px;
    margin-left: -10px;
    padding: 5px 10px;

    border: 1px solid var(--border-strong);
}
#tfw_input_container .translate_btn {
    font-weight: 600;

    flex: none;

    box-sizing: border-box;
    min-height: 52px;
    padding: 5px 10px;

    color: var(--icon);
}

footer .translate_flag {
    font-size: 14px;

    margin: auto;

    white-space: nowrap;
}
