.tfw_translate_result {
    margin-top: 5px;
    padding-top: 5px;

    user-select: text;
    white-space: pre-wrap;
    word-break: break-all;

    color: var(--message-primary);
    border-top: 1px solid var(--message-primary);
}

.tfw_translate_result > .placeholder {
    display: inline-block;

    width: 77px;
}

.tfw_translate_result.only {
    margin-top: 0;

    border: none;
}

#tfw_input_container .copyable-area {
    display: flex;

    padding: 5px 10px;

    background-color: var(--rich-text-panel-background);

    align-items: center;
    justify-content: space-between;
}

#tfw_input_container .default_translator {
    width: 84px;
    margin-left: -10px;
    padding: 5px 10px;

    border: 1px solid var(--border-strong);
}
#tfw_input_container .translate_btn {
    font-weight: 600;

    flex: none;

    box-sizing: border-box;
    width: 44px;
    min-height: 52px;
    padding: 5px 10px;

    white-space: nowrap;

    color: var(--icon);
}

footer .translate_flag {
    font-size: 14px;

    margin: auto;
}
footer .translate_flag .translate_flag_button {
    font-size: 14px;

    cursor: pointer;
    white-space: nowrap;
}

#main .translate_flag_select_container {
    position: fixed;
    z-index: 1000;

    border: 1px solid var(--border-strong);
    background-color: var(--rich-text-panel-background);
}

#main .translate_flag_select_container .translate_flag_select_search {
    box-sizing: border-box;
    width: 100%;
    padding: 2px 10px;

    color: var(--primary);
    border: 0;
    outline: none;
    background-color: var(--compose-input-background);
}

#main .translate_flag_select_container > ul {
    overflow: auto;

    height: 80px;

    white-space: nowrap;
}

#main .translate_flag_select_container > ul > li {
    padding: 2px 10px;

    white-space: nowrap;

    color: var(--primary);
}

#main .translate_flag_select_container li:not(.empty):hover {
    font-weight: 600;

    cursor: pointer;
}
