@import 'style.scss';

.el-message {
    min-width: 80%;
}

.el-textarea textarea {
    @include zy-scrollbar-for-chrome;
}

.el-checkbox {
    display: flex;

    padding: 3px 0;
    > .el-checkbox__input {
        margin-top: 2px;
    }
    > .el-checkbox__label {
        white-space: pre-wrap;
        word-break: break-all;
    }
}
