@mixin zy-scrollbar-for-chrome {
    overflow: auto;
    &::-webkit-scrollbar {
        width: 5px;
        height: 1px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #ccc;
        -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
                box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    }
}
